.oddcolor
{
    background-color: rgb(245, 157, 178);
    font-family: verdana, DejaVu Sans, sans-serif;

}
#secondNum 
{
    color: blue;
    font-size: 36px;

}
.addtion
{
    font-size: 24px;
}
#Num4
{
    background-color: rgb(133, 236, 159);
    font-size: 24px;
}